{
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "trailingComma": "es5",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["^@/(.*)", "^[./]"],

  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}